{% extends 'editor/base.html' %}

{% block content %}
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="jumbotron">
            <h1><span class="glyphicon glyphicon-thumbs-up"></span> Hello, world!</h1>
            <p>Lorem Ipsum Dolor</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">Learn more</a></p>
          </div>
        </div>
      </div>
    </div>

{% endblock %}

