{% extends 'editor/base.html' %}

{% block content %}
    {% for project in projects %}
        <div class="row project_list">
                 <div class="col-md-2"> </div>
	    <div class="col-md-6 project_list_part"> <p>{{ project.project_name }}</p> </div>
	    <div class="col-md-2 project_list_part"> <p>{{ project.last_modified_date }}</p></div>
	    <div class="col-md-2"></div>
        </div>
	<div class="row project_list">
	    <div class="col-md-2"></div>
	    <div class="col-md-8 project_list_part"><p>{{ project.project_description }}</p></div>
	    <div class="col-md-2"></div>
	</div>
    {% endfor %}
{% endblock %}

